$--color-primary: #5275FB;
$--color-danger: #F56C6C;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-tabs__header,
.el-select *,
.el-select-dropdown *{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

//去除难看边框
.el-tabs {
  .el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
  }
}

.el-dialog{
	border-radius: 8px;
	.el-dialog__header{
		padding: 19px 24px;
		border-bottom: 1px solid #E9EBF2;
		.el-dialog__title{
			font-size: 18px;
			font-weight: 600;
		}
	}
	.el-dialog__headerbtn{
		top:24px;
	}
	.el-dialog__body{
		padding: 0;
	}
	.el-dialog__footer{
		border-top: 1px solid #E9EBF2;
		padding: 14px 24px;
	}
}

//使textarea字体和input一致
.el-textarea__inner{
	font-family: "Helvetica Neue";
}
.el-form.el-form--label-left{
	.el-form-item__label{
		position: relative;
		padding: 0 0 0 8px;
		&:before{
			position: absolute;
			left: 0;
		}
	}
}
.el-table{
	.el-table__header tr, .el-table__header th{
		padding: 0;
		height: 48px;
		line-height: 48px;
		color: #86909c;
		background: #f4f7ff;
	}
}
.el-input-group__append {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
	&:hover{
		background-color: var(--color-primary-light);
	}
	.el-button {
		border-radius: 0 4px 4px 0;
		i {
			color: #fff;
			font-size: 12px;
		}
	}
}